body {
	margin: 0;
	padding: 0;
	font-family: calibri;
	color: #fff;
}
#container {
	background-color: #232F47;
	height: 300px;
	width: 585px;
	margin:20px auto;
	padding: 10px 40px;

}
#container h1 {
	color: #fff;
	margin: 0;
	padding: 0;
}

#container select {
	width: 255px;
	height: 35px;
	background: #34455F;
	color: #fff;
	border: none;
}

#container select:focus {
	outline: 0;
}

#container .fromCurrencySection , .toCurrencySection  {
	
    width: 255px;
    height: 225px;
    float: left;
}
#container .fromCurrencySection .fromCurrencyDisplay, .toCurrencySection .toCurrencyDisplay {
	padding: 10px 0px;
	font-size: 17px;
	font-weight: bold;
}
#container .fromCurrencySection .exchnageRateBox , .toCurrencySection .exchnageRateBox {
	margin: auto;

}
#container .amount {
	font-size: 40px;
	padding: 50px;
	background-color: #2E3851;
}

#container .arrow {
	float: left;
    font-size: 40px;
    margin: 100px 20px;
    color: green;
    font-weight: bold;
}

#container input[type=number] {
	font-size: 40px;
	width: 175px;
	background: none;
	color: #fff;
	border: none;
}

#container input[type=number]::-webkit-inner-spin-button, 
#container input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

  